.video-list{
    display: flex;
    justify-content: center;
}

.Video-item img{
    max-width: 250px;
}

.Video-item{
    width: 260px;
    cursor: pointer;
}

.description{
 margin-top: 0;
}

.html5-video-container{
    width: 100%
}